html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1250px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-image {
  transition: transform .4s ease
}
.logo-image:hover {
  transform: scale(1.1);
}

.navbar-list {
  display: flex;
  align-items: center;
}
.navbar-items {
  list-style-type: none;
}
.navbar-link {
  position: relative;
  text-decoration: none;
  font-family: "Public Sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;
  padding: 33px 0px;
  text-transform: capitalize;
}
.navbar-items + .navbar-items {
  margin-left: 24px;
}

.navbar-link::after {
  transform: scale(0);
  content: "";
  width: 100%;
  height: 4px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2FC59A;
  transition: transform .4s ease;
  transform-origin: left;
}
.navbar-link:hover::after {
  transform: scale(1);
}

.request-link {
  background-color: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}
.request {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Public Sans" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 8px 36px 8px 33px;
  display: block; 
}
.request:hover {
  background-color:  #75e498;
  border-radius: 22px;
  
}








@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}